.header {
    box-sizing: border-box;
    height: 1024px;
    padding-top: 217px;
    background-image: url('../img/background-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__button {
        margin-top: 44px;

        & button {
            width: 234.06px;
            height: 48.6px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            background: #9c0332;
            border: none;
            border-radius: 30px;
        }
    }

    &__side-description {
        max-width: 481px;
        font-weight: 300;
        font-size: 18px;
        line-height: $gap;
        opacity: 0.85;
    }

    &__main-description {
        display: flex;
        align-items: center;
        max-width: 700px;
        margin-bottom: $gap;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }

    &__side {
        display: flex;
        flex-flow: column wrap;
        place-content: flex-start flex-start;
        align-items: flex-start;
    }
}
