.header{

    box-sizing: border-box;
    padding-top: 217px;
    background-image: url("../img/background-main.png");
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;

    &__button{
        margin-top: 44px;

        & button{
            width: 234.06px;
            height: 48.6px;
            background: #9C0332;
            border-radius: 30px;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            border: none;
        }
    }

    &__side-description{
        font-weight: 300;
        font-size: 18px;
        line-height: $gap;
        max-width: 481px;
        opacity:0.85;
    }

    &__main-description{
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        max-width: 700px;
        margin-bottom: $gap;
    }
    
    &__side{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    
}