.items-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    background-image: url('../img/background-t-img.png');

    &__main-description {
        display: flex;
        align-items: center;
        max-width: 700px;
        margin-bottom: $gap;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__side-description {
        max-width: 534px;
        font-weight: 300;
        font-size: 18px;
        line-height: $gap;
        opacity: 0.85;
    }

    &__side {
        display: flex;
        flex-flow: column wrap;
        place-content: flex-start flex-start;
        align-items: flex-start;
    }

    &__button {
        & button {
            width: 234.06px;
            height: 48.6px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            background: #9c0332;
            border: none;
            border-radius: 30px;
        }
    }
}
