.items-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/background-t-img.png");
    height: 800px;
}