$gap: 32px;

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

html {
    height: 100%;
}

body {
    max-width: 1440px;
    margin: auto;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    background: linear-gradient(45deg, #05d9eb, #010, #ff2a6d);
    background-repeat: no-repeat;
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 10%;
    }

    25% {
        background-position: 50% 40%;
    }

    50% {
        background-position: 90% 50%;
    }

    75% {
        background-position: 50% 40%;
    }

    100% {
        background-position: 0% 5%;
    }
}

button {
    width: 234.06px;
    height: 48.6px;
    margin-top: $gap;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: #9c0332;
    border: none;
    border-radius: 30px;
}
