.rights {
    height: 80px;
    background-image: url('../img/footerdown.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__description {
        display: flex;
        flex-flow: row wrap;
        place-content: center center;
        align-items: center;
        padding-top: $gap;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        opacity: 0.85;
    }
}
