@media (width <= 1280px) {
    .center {
        padding-right: calc(40% - 280px);
        padding-left: calc(40% - 280px);
    }

    .header {
        display: flex;
        flex-flow: column wrap;
        place-content: center flex-start;
        align-items: center;

        &__main {
            display: flex;
            text-align: center;
        }
    }

    .header__side-description {
        align-items: center;
        text-align: center;
    }

    .items-box__side-description {
        align-items: center;
        text-align: center;
    }

    .full-game__side-description {
        align-items: center;
        text-align: center;
    }

    .items-box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        height: 800px;
        background-image: url("../img/background-t-img.png");
    }

    .full-game {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 800px;
        background-image: url("../img/background-t-img2.png");
    }

    .footer-menu__side-description {
        max-width: 600px;
    }

    .full-game__button {
        display: flex;
        justify-content: center;
    }

    .items-box__button {
        display: flex;
        justify-content: center;
    }

    .items-box__main-description {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    .full-game__main-description {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 700px;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    .menu-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        place-content: center center;
        place-items: center center;
        height: 1221px;
        padding-top: 128px;

        &__items {
            grid-column: span 4;
            width: 360px;
            height: 300px;
            margin-top: 0;
            margin-bottom: 0;
            background-repeat: no-repeat;
            background-position: cover;
        }
    }

    .footer-menu__main-description {
        display: flex;
        flex-flow: row nowrap;
        place-content: center center;
        align-items: center;
        margin-bottom: 32px;
        padding-top: 276px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }

    .footer-menu__side {
        display: flex;
        flex-flow: row nowrap;
        place-content: center center;
        align-items: center;
    }
}

@media (width >= 429px) and (width <= 768px) {
    .center {
        padding-right: 64px;
        padding-left: 64px;
    }

    .footer-menu__side-description {
        max-width: 325px;
    }

    .footer-menu__main-description {
        display: flex;
        flex-flow: row nowrap;
        place-content: center center;
        align-items: center;
        margin-bottom: 32px;
        padding-top: 276px;
        font-weight: 700;
        font-size: 42px;
        line-height: 39px;
    }

    .full-game {
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 654px;
        background-image: url("../img/background-t-img2.png");

        &__img img {
            width: 344px;
            height: 231px;
        }
    }

    .items-box {
        display: flex;
        flex-flow: row wrap;
        place-content: center center;
        align-items: center;
        height: 654px;

        .items-box {
            &__img img {
                width: 344px;
                height: 231px;
                padding-top: 64px;
            }
        }
    }
}
