* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  max-width: 1440px;
  margin: auto;
  color: white;
  background: linear-gradient(45deg, #05d9eb, #01010f, #ff2a6d);
  background-size: 800% 800%;
  background-repeat: no-repeat;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 10%;
  }
  25% {
    background-position: 50% 40%;
  }
  50% {
    background-position: 90% 50%;
  }
  75% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 0% 5%;
  }
}
button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  margin-top: 32px;
}

.header {
  box-sizing: border-box;
  padding-top: 217px;
  background-image: url("../img/background-main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
}
.header__button {
  margin-top: 44px;
}
.header__button button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
}
.header__side-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 481px;
  opacity: 0.85;
}
.header__main-description {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin-bottom: 32px;
}
.header__side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.menu-img {
  background-image: url("../img/background-img.png");
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}
.menu-img__items {
  width: 379px;
  height: 300px;
  grid-column: span 4;
  margin-top: 128px;
  margin-bottom: 128px;
}
.menu-img__items_one {
  background-image: url("../img/img-2.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu-img__items_two {
  background-image: url("../img/img-1.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu-img__items_three {
  background-image: url("../img/img-3.png");
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu-img__items-description {
  display: block;
  box-sizing: border-box;
  margin: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.items-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background-t-img.png");
  height: 800px;
}
.items-box__main-description {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin-bottom: 32px;
}
.items-box__side-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 534px;
  opacity: 0.85;
}
.items-box__side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.items-box__button button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

.full-game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/background-t-img2.png");
  height: 800px;
}
.full-game__main-description {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin-bottom: 32px;
}
.full-game__side-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  max-width: 588px;
  opacity: 0.85;
}
.full-game__side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.full-game__button button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

.footer-menu {
  background-image: url("../img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.footer-menu__main-description {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 276px;
}
.footer-menu__side-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.85;
  max-width: 1200px;
  display: flex;
  align-items: center;
  text-align: center;
}
.footer-menu__side {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
.footer-menu__button {
  display: flex;
  justify-content: center;
}
.footer-menu__button button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

.rights {
  background-image: url("../img/footerdown.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
}
.rights__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  opacity: 0.85;
  padding-top: 32px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-19 13:55:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slit-in-diagonal-1
 * ----------------------------------------
 */
@keyframes slit-in-diagonal-1 {
  0% {
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    animation-timing-function: ease-out;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-19 14:13:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
@keyframes shadow-pop-bl {
  0% {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px 1px white, -2px 2px white, -3px 3px white, -4px 4px white, -5px 5px white, -6px 6px white, -7px 7px white, -8px 8px white;
    transform: translateX(8px) translateY(-8px);
  }
}
/* ----------------------------------------------
* Generated by Animista on 2023-4-16 23:29:2
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation text-flicker-out-glow
* ----------------------------------------
*/
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.4% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  75.4% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  89.8% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  89.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  95% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  100% {
    opacity: 0;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-19 14:25:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-19 14:33:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-bottom
 * ----------------------------------------
 */
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: white;
  }
  100% {
    box-shadow: 0px 14px 1px 0px white;
  }
}
.menu-img__items {
  animation: slit-in-diagonal-1 0.3s ease-out both;
}

.menu-img__items:hover {
  animation: shadow-pop-bl 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.header__main-description {
  animation: text-flicker-out-glow 5s linear infinite both;
}

button:hover {
  animation: pulsate-bck 1s ease-in-out infinite both;
}

img:hover {
  animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}/*# sourceMappingURL=style.css.map */